body {
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editor-container {
  flex: 1;
  padding: 20px;
}

.emulator-container {
  flex: 0 0 300px; /* Set the width of the emulator */
  padding: 20px;
  border-left: 1px solid #ccc;
}
